var config = {};

config.dl_folder = 'music/';
config.samples_folder = 'samples/';
config.samples_codec = 'copy'; // or 'aac'
config.allow_playnext = false;

config.slack = {};
config.slack.token = "BOT-TOKEN";
config.slack.channels = [];
config.slack.alias = {}

module.exports = config;
